In [1]:
import numpy as np
import pandas as pd

In [9]:
train_df = pd.read_csv('data/train.csv', on_bad_lines='skip')
test_df  = pd.read_csv('data/test.csv', on_bad_lines='skip')

In [10]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13177 entries, 0 to 13176
Data columns (total 1 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   	content	label	label_id  13177 non-null  object
dtypes: object(1)
memory usage: 103.1+ KB

In [55]:
train_df.head()
train_df.columns

Index(['\tcontent\tlabel\tlabel_id'], dtype='object')

In [59]:
row_count = train_df.shape[0]

13177

In [66]:
import re
target = np.empty(row_count, dtype='object')
data   = np.empty(row_count, dtype='object')
i = 0
for row in train_df['\tcontent\tlabel\tlabel_id']:
    target[i] = re.split(r'\t+', row)[-2]
    data[i] = re.split(r'\t+', row)[-3]
    i += 1

In [69]:
# create new dataset
df = pd.DataFrame({'content': data, 'category': target})
df.head()

                                             content     category
0  به گزارش خبرنگار حوزه بهداشت و درمان گروه علمی...        پزشکی
1  به گزارش خبرنگار فوتبال و فوتسال گروه ورزشی با...        ورزشی
2  بهروز اکرمی، در گفتگو با خبرنگار اجتماعی باشگا...      اجتماعی
3  به گزارش خبرنگار حوزه شهری گروه اجتماعی باشگاه...      اجتماعی
4  به گزارش باشگاه خبرنگاران و به نقل از روابط عم...  فرهنگی هنری